@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  font-family: "Open Sans";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #cdcdcd;
}
.navbar h1 {
  color: #20ad27;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #20ad27;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.post-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #cdcdcd;
}
.post-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.post-preview h2 {
  font-size: 20px;
  color: #20ad27;
  margin-bottom: 8px;
}
.post-preview a {
  text-decoration: none;
}

.post-details h2 {
  font-size: 20px;
  color: #20ad27;
  margin-bottom: 10px;
}
.post-details div {
  margin: 20px 0;
}
.post-details button {
  background: #20ad27;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
