@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  font-family: "Open Sans";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #cdcdcd;
}
.navbar h1 {
  color: #20ad27;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #20ad27;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
